<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include header %>

</head>
<body>
    <% include navbar %>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2>How domestic is each animal?</h2>
                <% results.forEach((animal)=>{ %>
                    <div class="species-name">
                        <%= animal.species %>
                        <%= animal.domesticCount %>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>